.question {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1aa3;
  font-size: min(4vh, 4vw);
  font-weight: 600;

  color: #ffd66c;
  cursor: pointer;
}

.questionDisabled {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1aa3;
  color: #ffd66c;
  font-size: min(4vh, 4vw);
  font-weight: 600;

  color: #4a4435;
  cursor: not-allowed;
}
